html, body {
  margin: 0;
  overflow-x: hidden;
}

.nav-gradient-border {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, rgb(254, 100, 254), rgb(0, 191, 255)) 1;
}

.capsule {
  position: absolute;

  background: linear-gradient(to right, rgb(235, 144, 255), #76cfff);

  border-radius: 200px;

  z-index: -1;
  pointer-events: none;
}


.text-capsule {
  display: block;
  width: fit-content;

  margin: 120px auto 0 auto;

  padding: 25px 40px;
  border-radius: 999px;

  background: linear-gradient(to right, rgb(235, 144, 255), #76cfff);
  color: white;

  text-align: center;
}

.img-gradient {
  display: inline-block;
  padding: 6px;
  border-radius: 35px;

  background: linear-gradient(to top, rgb(235, 144, 255), #76cfff);
}

.img-gradient img {
  display: block;
  width: 100%;
  height: auto;

  border-radius: 30px;
  object-fit: cover;
}


#catContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;  
  justify-content: center;
}

#catContainer img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  align-items: center;  
  justify-content: center;
}



.cat {
  width: 100%;
  position: static;
}

.img-gradient {
  display: inline-block;
  padding: 6px;
  border-radius: 35px;
  background: linear-gradient(to top, rgb(235, 144, 255), #76cfff);
}

.img-gradient img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  display: block;
}

@media (min-width: 768px) {
  .cat1 { width: 90%; left: 10%; top: 80px; position: relative; }
  .cat2 { width: 90%; left: 10%; top: 200px; position: relative; }
  .cat3 { width: 90%; left: 0%;  top: 50px; position: relative; }

  .cat4 { width: 100%; left: 20%; top: 120px; position: relative; }
  .cat5 { width: 90%; left: 20%; top: 260px; position: relative; }
  .cat6 { width: 90%; left: 0%;  top: 90px; position: relative; }
}
@media (min-width: 992px) {
  .cat1 { width: 80%; left: 10%; top: 120px; }
  .cat2 { width: 100%; left: 15%; top: 300px; }
  .cat3 { width: 80%; left: 5%;  top: 0px; }

  .cat4 { width: 100%; left: 0%; top: 180px; }
  .cat5 { width: 80%; left: 25%; top: 400px; }
  .cat6 { width: 100%; left: 10%; top: 150px; }
}

@media (min-width: 1200px) {
  .cat1 { width: 90%; left: 20%; top: 150px; }
  .cat2 { width: 90%; left: 20%; top: 350px; }
  .cat3 { width: 100%; left: 5%;  top: 0px; }

  .cat4 { width: 100%; left: 0%; top: 220px; }
  .cat5 { width: 100%; left: 0%; top: 450px; }
  .cat6 { width: 1%; left: 30%; top: 0px; }
}

@media (min-width: 1900px) {
  .cat1 { width: 60%; left: 20%; top: 150px; }
  .cat2 { width: 55%; left: 20%; top: 350px; }
  .cat3 { width: 80%; left: 5%;  top: 0px; }

  .cat4 { width: 90%; left: 30%; top: 220px; }
  .cat5 { width: 45%; left: 30%; top: 450px; }
  .cat6 { width: 100%; left: 0%; top: 300px; }
}





